.calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.header h2 {
    text-align: center;
}

.body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.day_name {
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    padding: 5px;
}

.day_num {
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    height: 100px;
}

.day_num.ignore {
    background-color: #f9f9f9;
    color: #ccc;
}

.day_num.selected {
    background-color: #4CAF50;
    color: white;
}

.event.blue { 
    background-color: #518fce; color: white;
}
.event.green { 
    background-color: #51ce57; color: white; 
}